@using LayoutDesigner.Interfaces
@using LayoutDesigner.Pages
@using LayoutDesigner.Models
@inherits LayoutComponent
@implements ILayoutComponent
@implements IDropAreaContainer

<table>
	@{
		for (int r = 0; r < Rows; ++r)
		{
			<tr>
				@for (int c = 0; c < Columns; ++c)
				{
					<CascadingValue Value="LayoutControlData?.Children[r * Columns + c]">
						<td><VerticalPanel></VerticalPanel></td>
					</CascadingValue>
				}
			</tr>
		}
	}
</table>

@code {
	[Parameter] public int Rows { get; set; } = 4;
	[Parameter] public int Columns { get; set; } = 4;


	protected override void OnParametersSet()
	{
		if (LayoutControlData != null)
		{
			if (LayoutControlData.Children == null || 
				LayoutControlData.Children.Count != Rows * Columns)
			{
				if (LayoutControlData.Children == null)
					LayoutControlData.Children = new List<LayoutControlData>();
				while (LayoutControlData.Children.Count < Rows * Columns)
					LayoutControlData.Children.Add(new LayoutControlData()
					{
						Type = typeof(VerticalPanel),
						IsContainer = true,
						Selectable = false,
					});
			}
		}
		base.OnParametersSet();
	}
}
