.selectable .resize-handle {
    position: absolute;
    width: 12px;
    height: 12px;
    background: #1976d2;
    border-radius: 50%;
    z-index: 10;
}
.selectable .resize-handle.bottom-right {
    right: -6px;
    bottom: -6px;
    cursor: se-resize;
}

#selectionBox {
    position: absolute;
    z-index: 10;
    pointer-events: none;
}

.corner {
	position: absolute;
	z-index: 11;
	background-color: white;
	border: 1px black solid;
}

.corner-se {
    cursor: se-resize
}

.corner-s {
	cursor: s-resize
}

.corner-e {
    cursor: e-resize
}