@using LayoutDesigner.Components
@using LayoutDesigner.Interfaces
@using LayoutDesigner.Models
<div class="container">
	<CascadingValue Value="this">
		@ChildContent
	</CascadingValue>
</div>

@code {
	[Parameter]
	public RenderFragment? ChildContent { get; set; }

	public LayoutControlData? Payload { get; set; }

	public LayoutControlData Root { get; set; }

	public Guid SelectedId { get; private set; } = Guid.Empty;
	public event Action<Guid>? SelectionChanged;

	public Container()
	{
		Root = new LayoutControlData()
			{
				Type = typeof(VerticalPanel),
				Selectable = false,
			};
	}
	public void Select(Guid id)
	{
		SelectedId = id;
		SelectionChanged?.Invoke(id);
	}

	public void DeleteSelectedComponent()
	{
		
	}
}
