@using LayoutDesigner.Components
@using LayoutDesigner.Interfaces
@using LayoutDesigner.Models
@inherits LayoutComponent
@implements ILayoutComponent

<div class="dropzone @(dropClass != "" ? dropClass : "dropzone-border") @StyleClass"
	ondragover="event.preventDefault();"
	ondragstart="event.dataTransfer.setData('', event.target.id);"
	@ondrop="HandleDrop"
	@ondragenter="HandleDragEnter"
	@ondragleave="HandleDragLeave">

	@if (LayoutControlData?.Children != null)
	{
		for (int i = 0; i < LayoutControlData.Children.Count; ++i)
		{
			int _i = i;
			<div class="component draggable" draggable="true" @ondragstart="@(() => HandleDragStart(_i))" @ondrop:stopPropagation="LayoutControlData.Children[_i].IsContainer">
				<LayoutControl LayoutControlData="LayoutControlData.Children[_i]" />
			</div>
		}
	}
</div>

@code {
	[Parameter] public string StyleClass { get; set; } = "drop-area-vertical";

	private string dropClass = "";
	protected override void OnInitialized()
	{
		base.OnInitialized();
		_autoBindParameters = false;
	}

	private void HandleDragEnter()
	{
		if (PreviewMode || (Container?.Payload != null && LayoutControlData != null && LayoutControlData.Children.Contains(Container.Payload)))
			dropClass = "no-drop";
		else
			dropClass ="can-drop";
	}

	private void HandleDragLeave()
	{
		dropClass = "";
	}

	private void HandleDrop()
	{
		if (LayoutControlData?.Children != null && Container?.Payload != null && !LayoutControlData.Children.Contains(Container.Payload))
		{
			LayoutControlData.Children.Add(Container.Payload);

			if (Container.Payload.DragSource != null)
				Container.Payload.DragSource.RemoveChild(Container.Payload);

			Container.Select(LayoutControlData.Children.Last());
			Container.Payload = null;
			StateHasChanged();
		}
		dropClass = "";
	}

	private void HandleDragStart(int index)
	{
		if (Container != null && Container.Payload == null && LayoutControlData?.Children != null)
		{
			Container.Payload = LayoutControlData.Children[index];
			Container.Payload.DragSource = this;
		}
	}

	private void RemoveChild(LayoutControlData childData)
	{
		if (LayoutControlData?.Children != null)
		{
			LayoutControlData.Children.Remove(childData);
			StateHasChanged();
		}
	}
}
